
#character-search {
    text-align: center;
}

#character-container {

    /* formatting for the character cards */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: dimgrey;
}

.character-card {
    border: 1px solid black;

    /* size of each character card change accordingly */
    width: 200px;
    height: 200px;

    margin: 10px;
}

.character-card > button {
    /* set button to fit inside the container (changes based on character-card) */
    width: 100%;
    height: 100%;
}

.character-card > button > img {
    /* set images to fit inside the button/container (can probably be removed if images are correctly sized) */
    max-width: 100%;
    max-height: 100%;
}

.modal {
    width: 500px;
    height: 500px;
}

#character-bigimage {
    width: 100%;
    height: 100%;
}